{% extends 'base.html.twig' %}

{% block title %}Garage Parrot - Bienvenue{% endblock %}

{% block body %}
    <main class="row justify-content-center">
        <h1 class="col-lg-10 my-5 p-3 text-success text-center shadow-lg rounded">Derniers arrivages véhicules d'occasion</h1>
        <div class="container">
            {% include "partials/advert/_carousel.html.twig" %}
        </div> 
        <section class="row mt-5 justify-content-center">
            <h1 class="col-lg-10 m-5 p-3 text-success text-center shadow-lg rounded">Bienvenue sur le site du Garage V. PARROT</h1>
            <div class="description col-4 mt-3 p-5">
                <p class="description-welcome text-light">"Toute l'équipe est à votre disposition pour vous accompagner et vous 
                    conseiller sur l'achat d'un véhicule d'occasion ou pour la réparation et l'entretien de votre véhicule. N'hésitez-pas 
                    à nous rendre visite ou nous contacter pour plus de renseignements."
                </p>
            </div>
        </section>
        <div class="container-fluid">
            <section class="row justify-content-center">
                <div id="plan-toulouse" class="d-flex justify-content-center col-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.0511372027613!2d1.4485193765528848!3d43.60547685551555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebc9998f44167%3A0x5b3ad4aa85d14018!2s25%20Rue%20de%20l&#39;Industrie%2C%2031000%20Toulouse!5e0!3m2!1sfr!2sfr!4v1685014966761!5m2!1sfr!2sfr" 
                            width="400" 
                            height="300" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </section>
                <div class="text-light row justify-content-center">
                    <div class="col-8 address">
                        <img src="{{ asset('build/images/location.svg') }}" alt="logo localisation">
                        <span class="text-light p-3 linkNav">25 rue de l'industrie </br>31000 TOULOUSE </br> </span>
                        <img src="{{ asset('build/images/phone.svg') }}" alt="logo téléphone">
                        <a href="tel:0383838282" class="btn btn-outline-success linkNav mt-3">03 83 83 82 82</a>
                    </div>     
                </div>
            <section class="row justify-content-center">
                <h1 class="col-lg-10 mt-3 p-3 text-success text-center shadow-lg  mb-5">Nos services</h1>
                <img src="{{ asset('build/images/clé_molette.webp')}}" class="img-fluid clé-molette w-25 mb-5" alt="illustration_services">
                <p class="services col-10 p-3 text-light text-center shadow-lg">
                     VEHICULES D'OCCASIONS 
                     </br></br>
                    Prenez rendez-vous avec un de nos conseillers par téléphone pour toute informations, devis, financements, achat. 
                    Consultez nos annonces en ligne.</br></br>
                    RENDEZ-VOUS ATELIER 
                    </br></br>
                    Prenez rendez-vous avec le conseiller d'accueil par téléphone pour toutes demandes de réparation ou d'entretien 
                    ou de devis.
                </p>
            </section>
            <section class="container-fluid">
                <div class="row justify-content-center mb-5">
                    <h2 class="col-6  bg-success shadow-lg text-center rounded my-5 mt-5 ">Avis clients</h2>
                    {% for comment in comments %}
                        {% if comment.isOnline  == false %}
                            {% else %}     
                                {% if comment.rate == 5 %} 
                                    <div class="col-8">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 5 star" class="star">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 5 star" class="star">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 5 star" class="star">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 5 star" class="star">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 5 star" class="star">
                                    </div>
                                {% endif %}
                                {% if comment.rate == 4 %} 
                                    <div class="col-8">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 4 star" class="star">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 4 star" class="star">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 4 star" class="star">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 4 star" class="star">
                                        <span>
                                            <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 4 star" class="star-empty">
                                        </span>
                                    </div>
                                {% endif %}
                                {% if comment.rate == 3 %} 
                                    <div class="col-8">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 3 star" class="star">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 3 star" class="star">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 3 star" class="star">
                                        <span>
                                            <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 3 star" class="star-empty">
                                            <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 3 star" class="star-empty">
                                        </span>
                                    </div>
                                {% endif %}
                                {% if comment.rate == 2 %} 
                                    <div class="col-8">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 2 star" class="star">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 2 star" class="star">
                                        <span>
                                            <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 2 star" class="star-empty">
                                            <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 2 star" class="star-empty">
                                            <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 2 star" class="star-empty">
                                        </span>
                                    </div>
                                {% endif %}
                                {% if comment.rate == 1 %} 
                                    <div class="col-8">
                                        <img src="{{ asset('build/images/star.svg') }}" alt="rate 1 star" class="star">
                                        <span>
                                            <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 1 star" class="star-empty">
                                            <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 1 star" class="star-empty">
                                            <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 1 star" class="star-empty">
                                            <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 1 star" class="star-empty">
                                        </span>
                                    </div>
                                {% endif %}
                                <div class="col-8 text-light">Avis posté par : {{ comment.nickname }}</div> 
                                <div class="col-8 text-light mb-3"> {{ comment.designation | raw }}</div></br>    
                            {% endif %}
                    {% endfor %}
                </div>
                <div class="row justify-content-center">
                    <a href="#" class="btn btn-outline-success mb-5 col-3 linkNav">Poster un avis</a>
                </div>
            </section>
        </div>
    </main>
</body>
{% endblock %}

