{% extends 'base.html.twig' %}

{% block title %}Formulaire contact - Garage Parrot{% endblock %}

{% block body %}
    <div class="row justify-content-center">

        <h3 class=" col-lg-6 p-3 text-center fs-5 text-success linkNav shadow-lg description rounded">Contacter votre Garage Parrot</h3>
    </div>

    <div class="row row-cols-lg-2 col justify-content-center fw-bold ">

        {{ form_start(formView) }}
            <div class="formu-contact col-lg-3">
                {{ form_row(formView.last_name) }}
            </div>
            <div class="formu-contact col-lg-3">
                {{ form_row(formView.first_name) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(formView.email) }}
            </div>
                {% if adverts.id is defined %}
                        {{ form_row(formView.object, {
                            value : adverts.title
                        })}}
                {% else %}
                    {{ form_row(formView.object) }}
                {% endif %}
                    {{ form_row(formView.subject) }}
        <div class="row justify-content-center">
                    <button type="submit" class="btn btn-outline-info p-2 my-5 mx-2 linkNav col-lg-3 col-4">Envoyer</button>
                    <a class="btn btn-outline-success p-2 my-5 mx-2 linkNav col-lg-3 col-4" href="{{path('app_used_car')}}">Retour</a>
        </div>
            {{ form_end(formView) }}
        </div>
{% endblock %}