{% for comment in comments %}
{% if comment.isOnline  == false %}
    {% else %}     
        {% if comment.rate == 5 %} 
            <div class="col-8">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 5 star" class="star">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 5 star" class="star">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 5 star" class="star">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 5 star" class="star">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 5 star" class="star">
            </div>
        {% endif %}
        {% if comment.rate == 4 %} 
            <div class="col-8">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 4 star" class="star">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 4 star" class="star">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 4 star" class="star">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 4 star" class="star">
                <span>
                    <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 4 star" class="star-empty">
                </span>
            </div>
        {% endif %}
        {% if comment.rate == 3 %} 
            <div class="col-8">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 3 star" class="star">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 3 star" class="star">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 3 star" class="star">
                <span>
                    <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 3 star" class="star-empty">
                    <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 3 star" class="star-empty">
                </span>
            </div>
        {% endif %}
        {% if comment.rate == 2 %} 
            <div class="col-8">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 2 star" class="star">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 2 star" class="star">
                <span>
                    <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 2 star" class="star-empty">
                    <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 2 star" class="star-empty">
                    <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 2 star" class="star-empty">
                </span>
            </div>
        {% endif %}
        {% if comment.rate == 1 %} 
            <div class="col-8">
                <img src="{{ asset('build/images/star.svg') }}" alt="rate 1 star" class="star">
                <span>
                    <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 1 star" class="star-empty">
                    <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 1 star" class="star-empty">
                    <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 1 star" class="star-empty">
                    <img src="{{ asset('build/images/star-empty.svg') }}" alt="rate 1 star" class="star-empty">
                </span>
            </div>
        {% endif %}
        <div class="col-8 text-light">Avis posté par : {{ comment.nickname }}</div> 
        <div class="col-8 text-light mb-3"> {{ comment.designation | raw }}</div></br>    
{% endif %}
{% endfor %}